<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calendar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid class="calendar">   
    <p class="calendar-title">{{ current | date: 'yyyy . MM' }}</p>    
    <ion-row class="calendar-header-row">
      <ion-col class="center calendar-header-col" width-14 *ngFor="let head of wHeadShort">
        <b>{{ head }}</b>
      </ion-col>
    </ion-row>
    <ion-row class="calendar-row" *ngFor="let week of month; let i = index;">
      <ion-col class="center calendar-col" width-14 *ngFor="let day of week" (click)="selectDate(day)"
               [class.today]="isToday(day)" 
               [class.diff-month]="diffMonth(day)">{{ toDate(day) }}
      </ion-col>
    </ion-row>
    <ion-row class="calendar-last-row">
      <ion-col width-80>
        {{ today | date: 'MMM dd, EEEE' }}
      </ion-col>
      <ion-col width-10 (click)="previousMonth()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-col>
      <ion-col width-10 class="right-arrow"  (click)="nextMonth()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="schedule-input">
    <ion-input type="text" class="schedule-input-text" placeholder="일정을 입력하세요." [(ngModel)]="schedule"></ion-input>
    <button ion-button color="dark" class="schedule-input-button" (click)="addEvent(today)">일정추가</button>
  </div>
  <ion-list *ngFor="let event of events | async">
    <ion-card>
      <ion-card-content><b>{{ event.event }}</b> by {{ event.auth }}</ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
