page-main-page {

}

.background {
    width: 100%;
    height: 100%;
    position: relative;
}

.timetable {
    padding-top: 5.5%;
    padding-left: 4.7%;
}

.list {
    padding-top: 1.6%;
    padding-left: 4.7%;
}
