page-main-page {

}

.background {
    width: 100%;
    height: 100%;
    position: relative;
}

.timetable {
    position: static;
    padding-top: 5.5%;
    padding-left: 4.7%;
    padding-right: 4.7%;
}

.list {
    position: relative;
    top: 1.6%;
    padding-left: 4.7%;
}

.menu {
}

.schedule {

}

.setting {

}

.info {

}
